body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  touch-action: none;
}

#canvas-container {
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.disabled {
  display: none !important;
}

#cooldown-timer {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 8rem;
  height: 3rem;
  background-color: white;
  border: 4px solid #000820;
  border-radius: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#leaderboard {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
  border: 4px solid #000820;
  /* color: white; */
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#leaderboard h2 {
  margin: 0 0 10px;
}

#leaderboard-list {
  list-style: none;
  padding: 0;
}

#leaderboard-list li {
  margin-bottom: 5px;
}

#leaderboard-list li span {
  display: inline-block;
  width: 100px;
}

#color-picker {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: inline-block;
}

#color-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  /* Initial color */
  cursor: pointer;
}

#color-options {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color-option {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}