body {
  margin: 0;
  padding: 20px; /* Add padding to all sides */
  height: calc(100vh - 40px);
  overflow: hidden; /* Hide overflow to prevent scrolling */
  position: relative;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.circle {
  width: 20%; /* Set circle width as percentage */
  padding-bottom: 20%;  /*Set circle height as percentage */
  border-radius: 50%;
  position: absolute;
}

.red { background-color: red; top: 10%; left: 10%; }
.blue { background-color: blue; bottom: 10%; left: 10%; }
.green { background-color: green; top: 10%; right: 10%; }
.yellow { background-color: yellow; bottom: 10%; right: 10%; }

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  /* Adjust circle size for smaller screens */
  .circle {
    width: 90vw;
    height: 0px;
    border-radius: 10px;
    /* position: relative; */
    /* display: flex; */
  }
  
  .content {
    top: 4%;
    transform: translate(-50%, 0);
  }

  .red { background-color: red; top: 25%; left: 5%;}
  .blue { background-color: blue; top: 40%; left: 5%;}
  .green { background-color: green; top: 55%; left: 5%}
  .yellow { background-color: yellow; top: 70%; left: 5%}
}